MSSQL_SERVER=YOUR_SERVER_NAME_OR_IP
MSSQL_DB=YOUR_DATABASE_NAME
MSSQL_TRUSTED=no
MSSQL_USER=your_sql_username
MSSQL_PASSWORD=your_sql_password

SUPABASE_URL=postgresql://postgres:YOUR_PASSWORD@db.YOUR_PROJECT.supabase.co:5432/postgres
